.logo-AnaNery {
    display: flex;
    justify-content: center;
    padding: 50px calc((100% - 960px) / 2);
    background-color: var(--color-rosaClaro);
    position: relative;
    z-index: 0;
}
.logo-AnaNery a {
    position: relative;
    top: 20px;
}
.logo-AnaNery::after {
    content: '';
    width: 750px;
    height: 300px;
    background: radial-gradient( rgba(255,255,255, 0.8) 0%, rgba(255,255,255, 0) 70%);
    opacity: .4;
    position: absolute;
    top: 0px;
}

@media (max-width: 730px){
    .logo-AnaNery a {
        top: 35px;
    }
    .logo-AnaNery {
       padding: 50px calc((100% - 960px) / 2);
    }
}

@media (max-width: 465px) {
    .logo-AnaNery a {
        top: 55px;
    }
    .logo-AnaNery {
        padding: 60px calc((100% - 960px) / 2);
    }
    .logo-AnaNery::after {
        top: 50px;
    }
}